/* Global Variales Here  */
:root {
    --uniFontColor: rgb(0, 0, 0);
    --navLinkFontClr: rgb(0, 0, 0);
    --navLinkHoverBG: rgb(212, 212, 212);
    --contentCardsBG: #ab4cff;
    --wlcmBoxShado: rgba(90, 29, 116, 0.21);
    --miniHeadingFSize: 1.5rem;
    --navLinkFontSze: 1rem;
    --wlcmttxtfontsize: 1.7rem;
    --socialCrdWid: 4rem;
    --queInWid: 25rem;
    --buyStpImgWid: 12rem;
    --ImpThngImgWid: 10rem;
    --WIInivrexImgWid: 8rem;
    --ofrClckImgWid: 2rem;
    --navBrnTxtImgWid: 8rem;
    --byStpContFntSize: 5rem;
    --navBrnblbImgWid: 3rem;
    --PrimaryBG: Whitesmoke;
    --SecondaryBG: white;
    --TertiaryBG: #c3c3c398;
    --QuadBG: #dbdbdb;
}

#servcetxt {
    margin-top: 2rem;
}

#prntServiceCards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

#prntServiceCards>a {
    width: auto;
    height: auto;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--SecondaryBG);
    margin: 1rem;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.106);
}

#prntServiceCards>a:hover {
    background-color: rgba(255, 255, 255, 0.229);
    transform: scale(1.1);
}

.servCards>div {
    width: 10rem;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.servCards>div>img {
    width: 100%;
    height: 100%;
}

.servCards>p {
    font: caption;
    font-size: var(--navLinkFontSze);
    color: var(--uniFontColor);
    font-weight: 600;
    margin-top: 0.6rem;
    max-width: 10rem;
    text-align: center;
    text-decoration: none;
}

footer {
    margin-top: 40%;
    bottom: 0rem;
    position: relative;
}


/* Accept Windows  */
#Acceptterm {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 30;
    top: 0rem;
}

#TermWin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    max-width: 42rem;
    padding: 1rem;
    box-shadow: -10px 10px 10px 0px rgba(255, 255, 255, 0.142);
}

#TermWin>div {
    display: flex;
    justify-content: center;
}
.agreementBtns{
    font: caption;
    font-size: var(--navLinkFontSze);
    color: rgb(255, 255, 255);
    background-color: #aa00ff;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.4rem 0.6rem;
    outline: none;
    margin: 0rem 0.5rem;
    cursor: pointer;
    border: none;
}
